<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>635822746544-baium45gbe8338qin30uv2du0sopt4oe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.635822746544-baium45gbe8338qin30uv2du0sopt4oe</string>
	<key>API_KEY</key>
	<string>AIzaSyCIuHNGCAT_mMM35tBtlj2D5LtECQFktbw</string>
	<key>GCM_SENDER_ID</key>
	<string>635822746544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-61663</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-61663.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635822746544:ios:73c177998071e79296c475</string>
</dict>
</plist>